<div class="footer">
    <div class="social">
        <a href="">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <ul class="list">
        <li><a href="">Home</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy Policy</a></li>
    </ul>
    <p class="copyright">
        FundWise &copy: 2022.
    </p>
</div>
<script src="index.js"></script>
</body>

</html>